
#footer
{
	z-index: 2;
}

.text-content
{
	margin-left: 5px;
	margin-right: 5px;
}

#slider-wrap .ui-slider .ui-slider-handle
{
	height: 45px;
	width: 30px;
}

.button li {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 8px;
	padding-bottom: 8px;		
}

#OpenLayers_Control_MaximizeDiv, #OpenLayers_Control_MinimizeDiv,
#OpenLayers_Control_MaximizeDiv_innerImage, #OpenLayers_Control_MinimizeDiv_innerImage
{
	/* Override element.style set by OL */
	height: 45px !important;
	width: 45px  !important;
}

