#mobile-header
{
	padding-top: 1px;
	height: 45px;
	z-index: 2;
}

#map {
	width: 99.9%;
	border: 1px solid black;
}

#footer {
	bottom: 0px;
	right: 0px;
	clear: both;
	margin-top: 1px;
}

.headerButton	
{
	float: left;
	padding-right: 4px;
}

#location-text
{
	padding-top: 8px;
	font-size: 11px;
}	

#slider-wrap {
	
}

#slider-spacer {
	height: 2px;
}

#value-wrap {
	display: none;
}

.text-content {
	margin-left: 10px;
	margin-right: 10px;
}

.olPopup p {
	margin: 0px;
	font-size: .9em;
}

.olPopup h2 {
	font-size: 1.2em;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

#footer .slider-label {
	float: left;
	font-weight: bold;
	margin-top: 0px;
	clear: both;
}

#slider-wrap #slider {
	margin-left: 50px;
	margin-right: 60px;
	margin-top: 5px;
}

#slider-wrap .ui-slider .ui-slider-handle {
	height: 1.8em;
	width: 1.8em;
}

#slider-wrap .ui-slider-horizontal {
	margin-top: 0.2em;
	height: 1.3em;
}

.button ul {
	margin: 0;
	padding: 0;
	float: left;
}

.button li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}

.button span.ui-icon{
	float: left;
	margin: 0 4px;
}

#map-popup {
	z-index: 1010;
	position: absolute;
	top: 4px;
	height: 300px;
	width: 200px;
	overflow:auto;
	border: solid 3px black;
	background: #ffffff;
	padding: 4px;
	clear:both;
}

#map-popup-content {
	clear:left;
}

#map-popup-close {
	margin-left:auto;
	margin-right:auto;
}

.feature-description {
}